.footer{
    position:fixed;
    bottom:0;
    height: 32.5px;
    width: 97%;
    background-color: #181818;
    padding: 20px;
    display:flex;
    justify-content: space-between;
    border-top: 1.5px solid #282828;
}
.footer-left{
    flex:0.3;
    display: flex;
    align-items: center;
    width: 300px;
}

.footer-center{
    flex: 0.4;
    display: flex;
    max-width: 300px;
    
}

.footer-icons{
    padding: 0 100px;
    display: flex;
    transform: scale(1.1);
    align-items: center;
    justify-content: center;
    transform: scale(1.1);
}

.footer-right * .MuiSlider-root {
    color: #1ed15e;
}

.center{
    margin-left: 5px;
    margin-right: 5px;
}

.footer-right{
    flex: 0.3;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    padding-top: 10px;
}

.footer-image{
    object-fit: contain;
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

.footer-songInfo > p{
    font-size: 12px;
    color: grey;
}

.footer-songInfo > h4{
    margin-bottom: 5px;
    color: white;
}

.footer-songInfo > p:hover, .footer-songInfo > h4:hover{
    color:white;
    text-decoration: underline;
    cursor: pointer;
}

.footer-green {
    color: #1ed15e;
}
.play{
    color:white
}
.play:hover {
    transform: scale(1.1) !important;
}

.play:active{
    transform: scale(0.97) !important;
}

.footer-icon{
    color:grey;
    transition: 150ms color ease-in;
}

.footer-icon:hover{
    color: white;
}